= render 'admin/surveys/single_choice_question_fields', f: f, survey: survey
= render 'admin/surveys/multiple_choice_question_fields', f: f, survey: survey
= render 'admin/surveys/true_or_false_question_fields', f: f, survey: survey
= render 'admin/surveys/text_question_fields', f: f, survey: survey
= render 'admin/surveys/rating_question_fields', f: f, survey: survey

hr
