= ' - '
= link_to object.course.campaign.project.name, [:admin, object.course.campaign.project]
= ' - '
= link_to object.course.campaign.name, [:admin, object.course.campaign.project, object.course.campaign]
= ' - '
= link_to object.course.name, [:admin, object.course.campaign, object.course]
