.tt-dataset-lecturers h3 {
  font-size: 18px;
  padding-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.tt-dataset-students h3 {
  font-size: 18px;
  padding-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}
