# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  domain_name: example.com
  secret_key_base: 03cc74dc676218047a4e43f8be885658d78eb6e864cdc0435daedc1706c435f20769cd23d1fbdd879ec2484b3c6ea58c5f4a87061fbb3854d4a2fc36ca69dbaa

test:
  secret_key_base: 730f30d1d111097bf6a0d139ae72efca443db6f1a84281e525cf5f4883866cf6f04352dc4adec599c45c936d33b7c36bd794882834bb1ba131a014d144682ca4
