= render 'surveys/single_choice_question_fields', f: f, survey: survey
= render 'surveys/multiple_choice_question_fields', f: f, survey: survey
= render 'surveys/true_or_false_question_fields', f: f, survey: survey
= render 'surveys/text_question_fields', f: f, survey: survey
= render 'surveys/rating_question_fields', f: f, survey: survey

hr
