.sign-in-container {
  background-color: #cccccc;
  margin-top: 100px;
  padding-bottom: 40px;
}

.sign-in-container h1 {
  padding-bottom: 20px;
  font-size: 32px;
}

.sign-in-form {
  padding-bottom: 10px;
  padding-left: 30px;
}

.sign-in-form .help-block {
}

.sign-in-form .pull-right {
  padding: 6px 0px;
}
